h1 = t(".title")

= render "shared/error_messages", object: @form

= form_with model: @form, url: admin_merchants_path, local: true do |f|
  .mb-3
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"

  .mb-3
    = f.label :description, class: "form-label"
    = f.text_area :description, class: "form-control"

  .mb-3
    = f.label :email, class: "form-label"
    = f.email_field :email, class: "form-control"

  .mb-3
    = f.label :status, class: "form-label"
    = f.select :status, Merchant::STATUSES.map { |status| [t(status, scope: :merchant_statuses), status] }, {}, class: "form-select"

  = f.submit t(".submit"), class: "btn btn-primary me-2"
  = link_to t(".cancel"), admin_merchants_path, class: "btn btn-secondary"
