h1 New Merchant

= render "shared/error_messages", object: @form

= form_with model: @form, url: admin_merchants_path, local: true do |f|
  fieldset.mb-3
    legend Merchant

    .mb-3
      = f.label :name, class: "form-label"
      = f.text_field :name, class: "form-control"

    .mb-3
      = f.label :description, class: "form-label"
      = f.text_area :description, class: "form-control"

    .mb-3
      = f.label :email, class: "form-label"
      = f.email_field :email, class: "form-control"

    .mb-3
      = f.label :status, class: "form-label"
      = f.select :status, Merchant::STATUSES, {}, class: "form-select"

    .mb-3
      = f.label :password, "API password", class: "form-label"
      = f.password_field :password, class: "form-control"

  fieldset.mb-3
    legend UI login

    .mb-3
      = f.label :user_email, "Login email", class: "form-label"
      = f.email_field :user_email, class: "form-control"

    .mb-3
      = f.label :user_password, "Login password", class: "form-label"
      = f.password_field :user_password, class: "form-control"

  = f.submit "Create Merchant", class: "btn btn-primary me-2"
  = link_to "Cancel", admin_merchants_path, class: "btn btn-secondary"
