h1 = t(".title")

- if @transactions.empty?
  p.text-muted = t(".empty")
- else
  table.table.table-striped.align-middle
    thead
      tr
        th = t(".uuid")
        th = t(".type")
        th = t(".status")
        th = t(".amount")
        - if current_user.admin?
          th = t(".merchant")
        th = t(".customer")
        th = t(".created")
        th

    tbody
      - @transactions.each do |transaction|
        tr
          td
            code = transaction.uuid[0, 8]
          td = transaction.type_label
          td
            span.badge class=transaction.status_badge_class = transaction.status_label
          td = transaction.formatted_amount
          - if current_user.admin?
            td = transaction.merchant.name
          td = transaction.customer_email
          td = l(transaction.created_at, format: :dashboard)
          td = link_to t(".view"), transaction_path(transaction.id)
