h1 = t(".title", type: @transaction.type_label)

dl.row
  dt.col-sm-3 = t(".uuid")
  dd.col-sm-9 = @transaction.uuid

  dt.col-sm-3 = t(".status")
  dd.col-sm-9
    span.badge class=@transaction.status_badge_class = @transaction.status_label

  dt.col-sm-3 = t(".amount")
  dd.col-sm-9 = @transaction.formatted_amount

  - if current_user.admin?
    dt.col-sm-3 = t(".merchant")
    dd.col-sm-9 = @transaction.merchant.name

  dt.col-sm-3 = t(".customer_email")
  dd.col-sm-9 = @transaction.customer_email

  dt.col-sm-3 = t(".customer_phone")
  dd.col-sm-9 = @transaction.customer_phone

  - if @transaction.referenced_uuid
    dt.col-sm-3 = t(".references")
    dd.col-sm-9 = @transaction.referenced_uuid

  dt.col-sm-3 = t(".created")
  dd.col-sm-9 = l(@transaction.created_at, format: :dashboard)

= link_to t(".back"), transactions_path, class: "btn btn-secondary"
