nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    = link_to t("application.name"), root_path, class: "navbar-brand"

    ul.navbar-nav.me-auto
      - if user_signed_in?
        li.nav-item
          = link_to t("layouts.navbar.transactions"), transactions_path, class: "nav-link"
        - if current_user.admin?
          li.nav-item
            = link_to t("layouts.navbar.merchants"), admin_merchants_path, class: "nav-link"

    ul.navbar-nav.ms-auto
      - if user_signed_in?
        li.nav-item.navbar-text.text-white-50.me-3
          = t("layouts.navbar.signed_in_as", email: current_user.email, role: current_user.class.model_name.human)
        li.nav-item
          = button_to t("layouts.navbar.sign_out"), destroy_user_session_path, method: :delete, class: "btn btn-outline-light btn-sm"
      - else
        li.nav-item
          = link_to t("layouts.navbar.sign_in"), new_user_session_path, class: "nav-link"
